
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box{
  width: 500px;
  margin: 20px;
  display: inline-block;
}

.box img{
  width: 100%;
  filter: grayscale(50%);
  transition: all 1s;;
}

.box:hover img{
  filter: grayscale(0) brightness(1.5);
  border-radius: 10px;
}

